mixin authors()
    .authors 
        .authors__body.container 
            .authors__top 
                h2.authors__title Authors
                a(href="#!").authors__link All Authors
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.172 11L10.808 5.636L12.222 4.222L20 12L12.222 19.778L10.808 18.364L16.172 13H4V11H16.172Z" fill="#4316C4"/>
                    </svg> 
            .authors__items 
                .authors__item 
                    .authors__img 
                        img(src="@img/author-1.png", alt="" draggable="false")
                    p.authors__name Harold Robbins
                .authors__item 
                    .authors__img 
                        img(src="@img/author-2.png", alt="" draggable="false")
                    p.authors__name Leo Tolstoy
                .authors__item 
                    .authors__img 
                        img(src="@img/author-3.png", alt="" draggable="false")
                    p.authors__name J. K. Rowling
                .authors__item 
                    .authors__img 
                        img(src="@img/author-4.png", alt="" draggable="false")
                    p.authors__name Barbara Cartland
                .authors__item 
                    .authors__img 
                        img(src="@img/author-5.png", alt="" draggable="false")
                    p.authors__name Agatha Christie
                .authors__item 
                    .authors__img 
                        img(src="@img/author-6.png", alt="" draggable="false")
                    p.authors__name Stephen King