mixin footer()
    footer.footer   
        .footer__body.container
            .footer__content 
                a(href="index.html").logo 
                    img(src="@img/logo-white.svg", alt="" draggable="false") 
                .footer__lists 
                    ul.footer__list 
                        li.footer__li 
                            a(href="#!").footer__link Books 
                        li.footer__li 
                            a(href="#!").footer__link Authors 
                        li.footer__li 
                            a(href="#!").footer__link Best sellers 
                    ul.footer__list 
                        li.footer__li 
                            a(href="#!").footer__link Magazine 
                        li.footer__li 
                            a(href="#!").footer__link New 
                        li.footer__li 
                            a(href="#!").footer__link Best Contacts 
                    ul.footer__list 
                        li.footer__li 
                            a(href="#!").footer__link Other 
                        li.footer__li 
                            a(href="#!").footer__link Q&A 
                        li.footer__li 
                            a(href="#!").footer__link Blog
            .footer__row 
                p.footer__p © Made by Dziyana Tarchauskaite
                .footer__medias
                    a(href="https://instagram.com").footer__media
                        img(src="@img/instagram-white.svg", alt="" draggable="false") 
                    a(href="https://twitter.com").footer__media
                        img(src="@img/twitter-white.svg", alt="" draggable="false") 
                    a(href="https://youtube.com").footer__media
                        img(src="@img/youtube-white.svg", alt="" draggable="false") 
                    a(href="https://rss.com").footer__media
                        img(src="@img/rss-white.svg", alt="" draggable="false") 